
.hoverInShadow{
    position: relative;
    z-index: 1;
}

.hoverInShadow:hover{
    box-shadow: var(--inner-shadow);
}

.aboutSection {
    
    padding:80px 0 80px;
    min-height: 100vh;
}

.sectionTitle{
    padding:0 15px;
    flex:0 0 100%;
    text-align: center;
    margin-bottom: 60px;
}

.sectionTitle h2{
    display: inline-block;
    font-size:30px;
    font-weight: 700;
    color:black;
    text-transform: uppercase;
    margin:0


}

.sectionTitle h2:before{
   content: attr(data-heading);
    display: block;
    font-size: 16px;
    font-weight: 600;
    color:turquoise;
}

.row {
    display: flex;
    flex-direction: row;
    /* align-items: center; */
}


 .imgBox {
     /* background-color: red;  */
    max-width: 100%;
    /* display: block; */
    margin: auto;
    padding: 0px;
} 



.aboutImage{
    flex:0 0 auto;
    padding-left:22rem;
}

.outerShadow{
    box-shadow: var(--outer-shadow);
}

.innerShadow{
    box-shadow: var(--inner-shadow);
}

.aboutSection .aboutImage{
    /* background-color: RED; */
    flex:0 0 40%;
    /* padding:0 15px; */
}

.aboutSection .aboutImage .socialLinks {
    
    margin-top: 20px;
    text-align: center;

}

.aboutSection .aboutImage .socialLinks a{
    display: inline-block;
    height:40px;
    width:40px;
    font-size: 16px;
    text-align: center;
    line-height: 40px;
    color:black;
    margin:0 4px;
    border-radius: 50%;
    transition: all 0.3s ease;

}
.aboutSection .aboutImage .socialLinks a:hover{
    color:blueviolet
}

.aboutSection .aboutImage .socialLinks a:after{
    border-radius: 50%;
}


.aboutSection .aboutImage .imgBoxDiv{
    padding: 15px;
    border-radius: 5px;
}


.aboutSection .aboutInfo {
    /* background-color: blue; */
    flex:0 0 60%;
    max-width: 40%;
    padding:0 15px;
}

.aboutSection .aboutInfo p{
    font-size:16px;
    line-height: 26px;
    margin-bottom: 16px;
     color:black
}

.aboutSection .aboutInfo  span{
    font-weight: 600;
  
}

.skillContainer{
    display: grid;
    grid-template-columns: repeat(2, minmax(140px, 200px));
    overflow: hidden;
    padding: 0px;
    margin: 20px 0px 0px;
    list-style: none;
}

.skillContainerItem{
    color:black
}

@media (max-width:768px) {
    .row {
        display: flex;
        flex-direction: column;
        /* align-items: center; */
    }
    .aboutSection .aboutImage{
        /* background-color: RED; */
        flex:0 0 40%;
        padding:0 140px;
    }

    .aboutSection .aboutInfo {
        /* background-color: blue; */
        flex: 0 0 60%;
        padding: 0 15px;
        max-width: inherit;
    }

    .aboutSection .aboutInfo {
        margin-top: 21px;

    }

    .aboutSection .aboutImage{
        /* background-color: RED; */
        flex:0 0 40%;
        padding:0 15px; 
    }




}
